<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<header>
		<div>1</div>
		<div>2</div>
		<div>3</div>
	</header>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto error similique hic dolorem cumque eius delectus exercitationem dicta ipsa, inventore, voluptatibus fugiat quasi quos. Voluptatem vitae quibusdam blanditiis rerum necessitatibus.</p>
	
	<form action="">
		<input type="text" name="nombre">
		<input type="text" name="apellido">
		<input type="submit">
	</form>

	<footer>
		Este es el footer.
	</footer>
</body>
</html>