<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<header>
		<div>Inicio</div>
		<div>Informacion</div>
		<div>Contáctenos</div>
	</header>

	<section>
		<aside id="izquierdo">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto error similique hic dolorem cumque eius delectus exercitationem dicta ipsa, inventore, voluptatibus fugiat quasi quos. Voluptatem vitae quibusdam blanditiis rerum necessitatibus.</p>
		</aside>
		<article>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsa, officiis expedita et odio qui. Facilis minima, unde sapiente cupiditate pariatur, laboriosam aliquam quaerat, doloremque aut in consectetur amet non.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum dicta adipisci consectetur aspernatur, eius necessitatibus voluptatem qui vero soluta magnam harum quod nemo pariatur impedit a vel itaque. Asperiores.
		</article>
		<aside id="derecho">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto error similique hic dolorem cumque eius delectus exercitationem dicta ipsa, inventore, voluptatibus fugiat quasi quos. Voluptatem vitae quibusdam blanditiis rerum necessitatibus.</p>
		</aside>
	</section>
	
	<form action="">
		<input type="text" name="nombre" placeholder="nombre">
		<input type="text" name="apellido" placeholder="apellido">
		<input type="submit" value= "enviar">
	</form>

	<footer>
		Este es el footer. Todos los derechos reservados.
	</footer>
</body>
</html>